<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<title>浏览广告页</title>
		<link rel="stylesheet" href="__CSS__/banner.css" />
	</head>
	<body>
		<div class="header">
			<a href="javascript:history.go(-1)"></a><img src="images/back.png" class="back">浏览广告
		</div>
		<ul class="lists">
			<li>
				<div class="img"></div>
				<p class="headline">今日头条2分钟</p>
				<p class="score">完成任务获得积分:10个</p>
				<p class="total">总条数：400条</p>
				<p class="surplus">剩余：<font>108条</font></p>
				<p class="time">发布时间2019年8月9号</p>
				<a href="###" class="link">浏览</a>
			</li>
			<li>
				<div class="img"></div>
				<p class="headline">今日头条2分钟</p>
				<p class="score">完成任务获得积分:10个</p>
				<p class="total">总条数：400条</p>
				<p class="surplus">剩余：<font>108条</font></p>
				<p class="time">发布时间2019年8月9号</p>
				<a href="###" class="link">浏览</a>
			</li>
			<li>
				<div class="img"></div>
				<p class="headline">今日头条2分钟</p>
				<p class="score">完成任务获得积分:10个</p>
				<p class="total">总条数：400条</p>
				<p class="surplus">剩余：<font>108条</font></p>
				<p class="time">发布时间2019年8月9号</p>
				<a href="###" class="link">浏览</a>
			</li>
		</ul>
	</body>
</html>
